*{
  padding: 0;
  margin: 0;
  background-color: black;
}
.mb-4{
width: 20rem;
margin-bottom: 20px;
display: grid;
grid-template-rows: 2fr;
}

.headline{
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.paragraph{
  font-size: 15px;
  font-weight: 200;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white;
}

.list-group-flush{
  font-size: 12px;
}

.link{
  text-decoration: none;
  color: white;
}

.link:hover {
  color: rgba(3, 194, 241, 0.767); 
  text-decoration: underline; 
}

.image-container {
  position: relative;
  overflow: hidden;
  height: 300px;
  object-fit: contain;
}

.image-container:hover img {
  opacity: 0.8; 
  transition: opacity 0.3s ease;
}

.image-container:hover::before {

  background-color: rgba(0, 0, 0, 0.692); 
}
